body {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: repeat(100, 1%);
    overflow: hidden;
    place-items: center;
    background-color: black;
    background-repeat: no-repeat;
}

iframe {
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

span {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 5vmax;
    font-family: "default";
}

a {
    text-decoration: none;
}

span:hover {
    background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: flow 8s infinite;
}

#logo {
    grid-area: 10/83/20/100;
    transform: rotate(90deg);
    background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: flow 60s infinite;
    z-index: 1;
}

.logo {
    font-family: 'noah';
    font-size: 8vmax;
}

#button1 {
    grid-area: 25/83/35/100;
    z-index: 1;
}

#button2 {
    grid-area: 40/83/50/100;
    z-index: 1;
}

#button3 {
    grid-area: 55/83/65/100;
    z-index: 1;
}

#button4 {
    grid-area: 70/83/80/100;
    z-index: 1;
}

#statement {
    grid-area: 98/70/99/100;
    justify-self: end;
    z-index: 1;
}

.statement {
    font-size: 2vmin;
}

#window {
    grid-area: 14/2/94/81;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#background {
    grid-area: 1/1/101/101;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes flow {
    100% {
        background-position: -400% 0;
    }
}

@font-face {
    font-family: "default";
    src: url(../../src/font/default.TTF);
}

@font-face {
    font-family: "noah";
    src: url(../../src/font/noah.otf);
}